body {
  padding: 50px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #4DC3E1;
  font-size: 60px;
  font-family: 'Lobster Two', cursive;
}

h3 {
  color: #4DC3E1;
}

.input-group {
  margin-bottom: 25px;
}

.taskBorder {
  margin-bottom: 25px;
}

/*.taskBorder.red {
  background-color: red;
}

.taskBorder.green {
  background-color: green;
}*/

.taskText {
  font-family: 'Quicksand', sans-serif;
}

button {
  background-color: #4DC3E1;
  color: white;
}

div.background.foodDrink {
  background: url(/images/food_drink.jpg) no-repeat center;
  border: 2px solid black;
  height: 400px;
  width: 745px;
}

div.background.activities {
  background: url(/images/activities5.jpg) no-repeat center;
  border: 2px solid black;
  height: 400px;
  width: 745px;
}

div.background.decor {
  background: url(/images/party.jpg) no-repeat center;
  border: 2px solid black;
  height: 400px;
  width: 745px;
}
div.background.partyFavors {
  background: url(/images/party_favors2.jpg) no-repeat center;
  border: 2px solid black;
  height: 400px;
  width: 745px;
}

div.transbox {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: SlateGrey;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px black;
}
