<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Planning</title>
  </head>
  <body>

    <h1>My Special Day</h1>

    <main class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-6">

                <form>
                  <div class="background foodDrink">
                    <div class="transbox">
                      <p>Food &amp; Drink</p>
                    </div>
                  </div>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newFoodDrink">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addFoodDrink()">
                        Add to List
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="item in $ctrl.foodDrink">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{item.task}}</span>
                  </div>
                </form>

                <form>
                  <div class="background activities">
                    <div class="transbox">
                      <p>Entertainment</p>
                    </div>
                  </div>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newActivity">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addActivity()">
                        Add to List
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="activity in $ctrl.activities" ng-class="activityColor">
                    <input type="checkbox" name="task" class="checkTask" ng-model="activityColor" ng-true-value="'green'" ng-false-value="'red'">
                    <span class="taskText">{{activity.task}}</span>
                  </div>
                </form>
              </div>

              <div class="col-md-6">

                <form>
                  <div class="background decor">
                    <div class="transbox">
                      <p>Decor</p>
                    </div>
                  </div>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newDecor">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addDecor()">
                        Add to List
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="item in $ctrl.decor">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{item.task}}</span>
                  </div>
                </form>

                <form>
                  <div class="background partyFavors">
                    <div class="transbox">
                      <p>Party Favors</p>
                    </div>
                  </div>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newPartyFavor">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addPartyFavor()">
                        Add to List
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="partyFavor in $ctrl.partyFavors">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{partyFavor.task}}</span>
                  </div>
                </form>
                </div>
        </div>
      </div>
    </main>
  </body>
</html>
