<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do</title>
  </head>
  <body>

    <h1>To Do</h1>

    <main class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-6">

                <h3>Food &amp; Drink</h3>
                <form>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newFoodDrink">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addFoodDrink()">
                        Add Task
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="item in $ctrl.foodDrink">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{item.task}}</span>
                  </div><br><br>
                </form>

                <h3>Activities</h3>
                <form>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newActivity">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addActivity()">
                        Add Task
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="activity in $ctrl.activities" ng-class="activityColor">
                    <input type="checkbox" name="task" class="checkTask" ng-model="activityColor" ng-true-value="'green'" ng-false-value="'red'">
                    <span class="taskText">{{activity.task}}</span>
                  </div><br><br>
                </form>
              </div>

              <div class="col-md-6">

                <h3>Decor</h3>
                <form>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newDecor">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addDecor()">
                        Add Task
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="item in $ctrl.decor">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{item.task}}</span>
                  </div><br><br>
                </form>

                <h3>Party Favors</h3>
                <form>
                  <div class="input-group">
                    <input class="taskBox form-control" ng-model="$ctrl.newPartyFavor">
                    <span class="input-group-btn">
                      <button class="btn" type="button" ng-click="$ctrl.addPartyFavor()">
                        Add Task
                      </button>
                    </span>
                  </div>
                  <div class="taskBorder" ng-repeat="partyFavor in $ctrl.partyFavors">
                    <input type="checkbox" name="task" class="checkTask">
                    <span class="taskText">{{partyFavor.task}}</span>
                  </div><br><br>
                </form>
                </div>
        </div>
      </div>
    </main>
  </body>
</html>
